In [1]:
import pandas as pd

### DataFrame from dict-of-list

In [10]:
df = pd.DataFrame({ 'A': [1,2,3,4], 
                   'B': [10,20,30,40],
                   'C': [20,40,60,80]
                  }, 
                  index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])

In [3]:
df

       A   B   C
Row 1  1  10  20
Row 2  2  20  40
Row 3  3  30  60
Row 4  4  40  80

### DataFrame from list-of-dict

In [6]:
df2 = pd.DataFrame(
    [
        {'A': 1, 'B': 10, 'C': 20},
        {'A': 2, 'B': 20, 'C': 40},
        {'A': 3, 'B': 30, 'C': 60},
        {'A': 4, 'B': 40, 'C': 80},
    ],
    index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])

In [7]:
df2

       A   B   C
Row 1  1  10  20
Row 2  2  20  40
Row 3  3  30  60
Row 4  4  40  80

### Use apply() to sum rows of DataFrame, axis=0 applies f() to each column, axis=1 applies f() to each row

In [11]:
def custom_sum(row):
    return row.sum()
df['D'] = df.apply(custom_sum, axis=1)
df

       A   B   C    D
Row 1  1  10  20   31
Row 2  2  20  40   62
Row 3  3  30  60   93
Row 4  4  40  80  124

### apply() to a slice (Series) of DataFrame - no need for an axis

In [12]:
def multiply_by_2(val):
    return val * 2
df['E'] = df['C'].apply(multiply_by_2)
df

       A   B   C    D    E
Row 1  1  10  20   31   40
Row 2  2  20  40   62   80
Row 3  3  30  60   93  120
Row 4  4  40  80  124  160

### apply() with a lambda

In [13]:
df['F'] = df.apply(lambda x:x.sum(), axis=1)
df

       A   B   C    D    E    F
Row 1  1  10  20   31   40  102
Row 2  2  20  40   62   80  204
Row 3  3  30  60   93  120  306
Row 4  4  40  80  124  160  408